service_name    = "${{ values.service_name }}"
tier            = "${{ values.tier }}"
container_image = "${{ values.container_image }}"
environment     = "${{ values.environment }}"
aws_region      = "${{ values.aws_region }}"
