output "instance_id" {
  description = "EC2 instance ID"
  value       = module.ec2.id
}

output "instance_arn" {
  description = "EC2 instance ARN"
  value       = module.ec2.arn
}

output "private_ip" {
  description = "Private IP address"
  value       = module.ec2.private_ip
}
