bucket_name                 = "${{ values.bucket_name }}"
environment                 = "${{ values.environment }}"
owner                       = "${{ values.owner }}"
aws_region                  = "${{ values.aws_region }}"
aws_account_id              = "${{ values.aws_account_id }}"
force_destroy               = ${{ values.force_destroy }}
versioning_enabled          = ${{ values.versioning_enabled }}
lifecycle_expiration_days   = ${{ values.lifecycle_expiration_days }}
