bucket_name        = "jenkins-tfstate-platform"
aws_region         = "eu-north-1"
aws_profile        = ""
aws_account_id     = "123456789012"
environment        = "dev"
instance_type      = "t3.small"
enable_nat_gateway = true
jenkins_port       = 8080
alb_certificate_arn = ""
enable_waf         = true
waf_rate_limit     = 2000
vpc_cidr           = "10.10.0.0/16"
vpc_name           = "jenkins-dev-vpc"
cidr_public_subnet = ["10.10.1.0/24", "10.10.2.0/24"]
cidr_private_subnet = ["10.10.11.0/24", "10.10.12.0/24"]
eu_availability_zone = ["eu-north-1a", "eu-north-1b"]
public_key         = "ssh-rsa REPLACE_ME"
ec2_ami_id         = ""
run_ansible        = false
enable_observability = false
enable_grafana_service = false
tags = {
  Owner      = "platform-team"
  CostCenter = "engineering"
  Purpose    = "jenkins-development"
}
