APP_NAME=${{ values.name }}
SOURCE_PATH=../${{ values.source_path }}
DOCKERFILE=${{ values.dockerfile_path }}
CONTAINER_PORT=${{ values.container_port }}
HEALTH_PATH=${{ values.health_path }}
SERVICE_TYPE=${{ values.service_type }}
REPLICA_COUNT=${{ values.replica_count }}
TEST_RUNNER=${{ values.test_runner }}
