name            = "{{ name }}"
description     = "{{ description }}"
vpc_id          = "{{ vpc_id }}"
environment     = "{{ environment }}"
owner           = "{{ owner }}"
project         = "{{ project }}"
cost_center     = "{{ cost_center }}"
aws_region      = "{{ aws_region }}"
aws_account_id  = "{{ aws_account_id }}"
