output "vpc_id" {
  description = "VPC ID"
  value       = module.vpc.id
}

output "vpc_cidr" {
  description = "VPC CIDR block"
  value       = module.vpc.cidr_block
}

output "public_subnet_ids" {
  description = "Public subnet IDs"
  value       = module.vpc.public_subnet_ids
}

output "private_subnet_ids" {
  description = "Private subnet IDs"
  value       = module.vpc.private_subnet_ids
}
