output "customer_url" {
  value = module.customer_runtime.customer_url
}

output "alb_dns_name" {
  value = module.customer_runtime.alb_dns_name
}

output "cluster_name" {
  value = module.customer_runtime.cluster_name
}
