aws_region = "${{ values.aws_region }}"
aws_profile = ${{ values.aws_profile | dump }}
aws_account_id = "${{ values.aws_account_id }}"
customer_name = "${{ values.customer_name }}"
tenant_name = "${{ values.tenant_name }}"
environment = "prod"
container_image = "${{ values.container_image }}"
container_port = ${{ values.container_port }}
desired_count = ${{ values.desired_count }}
enable_autoscaling = ${{ values.enable_autoscaling }}
autoscaling_min_capacity = ${{ values.autoscaling_min_capacity | default(null) | dump }}
autoscaling_max_capacity = ${{ values.autoscaling_max_capacity | default(null) | dump }}
autoscaling_cpu_target = ${{ values.autoscaling_cpu_target | default(null) | dump }}
autoscaling_memory_target = ${{ values.autoscaling_memory_target | default(null) | dump }}
autoscaling_request_target = ${{ values.autoscaling_request_target | default(null) | dump }}
cpu = ${{ values.cpu }}
memory = ${{ values.memory }}
alb_certificate_arn = "${{ values.alb_certificate_arn }}"
redirect_http_to_https = ${{ values.redirect_http_to_https }}
alb_ingress_cidr_blocks = ${{ values.alb_ingress_cidr_blocks | dump }}
hosted_zone_id = "${{ values.hosted_zone_id }}"
dns_name = "${{ values.dns_name }}"
enable_waf = ${{ values.enable_waf }}
waf_rate_limit = ${{ values.waf_rate_limit }}
tags = {
  Customer    = "${{ values.customer_name }}"
  Tenant      = "${{ values.tenant_name }}"
  Environment = "prod"
  Owner       = "${{ values.owner }}"
  Tier        = "production"
}
