bucket         = "customer-ecs-runtime-tfstate"
key            = "customer/${{ values.customer_name }}/qa/terraform.tfstate"
region         = "${{ values.aws_region }}"
encrypt        = true
dynamodb_table = "customer-ecs-runtime-locks"
