apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${{ values.cluster_name }}-eks-cluster
  description: EKS cluster for ${{ values.cluster_name }} in ${{ values.aws_region }}
  tags:
    - eks
    - kubernetes
    - aws
    - platform
    - ${{ values.aws_region }}
  annotations:
    backstage.io/techdocs-ref: dir:.
    github.com/project-slug: ${{ values.repoUrl | parseRepoUrl | pick('owner') }}/${{ values.repoUrl | parseRepoUrl | pick('repo') }}
spec:
  type: service
  lifecycle: production
  owner: platform-team
  system: internal-developer-platform
