module "eks" {
  source = "../../platform-modules/eks-cluster"

  cluster_name            = "${{ values.cluster_name }}"
  environment             = "${{ values.environment }}"
  aws_region              = "${{ values.aws_region }}"
  aws_account_id          = "${{ values.aws_account_id }}"
  kubernetes_version      = "${{ values.kubernetes_version }}"
  enable_lb_controller    = ${{ values.enable_lb_controller }}
  endpoint_public_access  = ${{ values.endpoint_public_access }}
  tags                    = local.common_tags
}
