aws_region              = "${{ values.aws_region }}"
aws_account_id          = "${{ values.aws_account_id }}"
cluster_name            = "${{ values.cluster_name }}"
environment             = "qa"
kubernetes_version      = "${{ values.kubernetes_version }}"
enable_lb_controller    = ${{ values.enable_lb_controller }}
endpoint_public_access  = false

tags = {
  Environment = "qa"
  Owner       = "${{ values.owner }}"
  Tier        = "nonprod"
}
