apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${{ values.name }}
  description: Jenkins EC2 instance for the ${{ values.environment }} environment
  annotations:
    backstage.io/techdocs-ref: dir:.
spec:
  type: infrastructure
  lifecycle: production
  owner: platform-team
  system: internal-developer-platform
