identifier          = "{{ identifier }}"
allocated_storage   = {{ allocated_storage }}
engine              = "{{ engine }}"
engine_version      = "{{ engine_version }}"
instance_class      = "{{ instance_class }}"
db_name             = "{{ db_name }}"
username            = "{{ username }}"
skip_final_snapshot = {{ skip_final_snapshot }}
publicly_accessible = {{ publicly_accessible }}
security_group_id   = "{{ security_group_id }}"
db_subnet_group_name = "{{ db_subnet_group_name }}"
environment         = "{{ environment }}"
owner               = "{{ owner }}"
project             = "{{ project }}"
cost_center         = "{{ cost_center }}"
